.testimonial {
  &__item {
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    padding: 25px 30px;
    outline: 0 !important;
  }

  &__inner {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }

  &__img {
    margin: 0 auto;
    border-radius: 50%;
  }
}
